body{
    padding-left: 200px;
    background-color: #d0e280;
    padding-right: 200px;
}

h2{
    color: rgb(64, 180, 151);
    letter-spacing: 10px;
    text-align: center;

}

.dnl{
    text-align: center;
    font-family: fantasy;
}

a{
    color:rgb(173, 95, 189)
}

.dnl a:hover{
    color: rgb(189, 245, 126);
}