body{
    background-color: black;
    color: white;
    font-size: 18px;
}

.yoactual {
    float: left;
    margin-right: 1rem;
    width: 150px; /* Adjust the width as needed */
    height: auto;
}