body {
    background-color: blueviolet;
}

h2 {
    background-color: purple;
    color: white;
    font-style: italic;
}

.guia1 {
    background-color: #000000;
    color: white;
    font-style: oblique;
}

.img {
    height: 200px;
}

.guia2 {
    background-color: aquamarine;
    color: black;
    font-style: initial;
}